
{% if form.errors %}
<h3> Tu usuario y contraseña no coinciden. Intenta nuevamente </h3>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
        <h3> Hola usuario </h3>
    {% else %}
        <h3><a href=""> INICIAR SESION </a></h3>
    {% endif %}
{% endif %}

<form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <div>
        <td> {{form.username.label_tag}}</td>
        <td> {{form.username}}</td>
    </div>
        <div>
        <td> {{form.password.label_tag}}</td>
        <td> {{form.password}}</td>
    </div>

    <input type="submit" value="login">

</form>